@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* common syles here  */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

.description {
    color: #727272;
    font-size: 0.9rem;
}

.primary-btn {
    background-color: #FF900E;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 15px auto;
}

.default-img {
    width: 100%;
}

/* header related styles here  */
header {
    background-color: #ff900e1a;
    padding: 30px 150px;
}

/* nav related styles here  */
nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* banner related styles here  */
.banner-info {
    text-align: center;
    max-width: 70%;
    margin: 30px auto;
}

.banner-info h2 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* header related styles ends here  */
/* main styles starts here  */
main {
    width: 70%;
    margin: 20px auto;
}

/* team section related styles here  */
.team-container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.team-info {
    width: 60%;
}

.team-title {
    font-size: 2rem;
    font-weight: 700;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* facts section starts  */
.facts-description{
    margin: 20px 0px;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.card {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
/* .card>div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.stats{
    font-size: 2rem;
    font-weight: 600;
    color: #424242;
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
    color: #727272;
}
/* responsive styles here  */
/* small screen devices styles  */
@media screen and (max-width:572px) {
    header {
        padding: 20px;
    }
    .facts-card-container,
    .team-container,
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .team-info {
        width: 100%;
    }
    .card{
        width: 100%;
    }
}

/* medium screen devices  */
@media screen and (min-width:573px) and (max-width:960px) {
    header {
        padding: 40px;
    }
    main{
        width: 80%;
    }
}